/* Когда будешь добавлять новые страницы там только два класса добавить надо будет в самом низу скопируешь))*/
#about-topbar{
    background: linear-gradient(180deg, #791212 41.15%, #000000 100%);
    height: 57px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#logo-topbar{
    position: absolute;
    width: 199px;
    height: 40px;
    top: 10px;
    margin-left: 32px;
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;       
    color: #FFFFFF;       
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#about-page-label{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 84px;
    left: 0px;
    top: 313px;
    display: flex;
    background: linear-gradient(180deg, #000000 0%, #791212 76.56%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#about-page-text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#start-reading{
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 71px;
    left: 31%;
    top: 1001px;
    background: linear-gradient(180deg, #791212 0%, #000000 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-left: 67px;
    cursor: pointer;
}

#about-page-description{
    visibility: hidden;
    position: absolute;
    width: 400px;
    height: 418px;
    left: -500px;
    top: -500px;
    background: #D6D6D6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;

    font-family: 'bicubik';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    display: flex;
}

#about-page-options{
    box-sizing: border-box;
    position: absolute;
    width: 57%;
    height: 548px;
    left: 20%;
    top: 1130px;
    background-color: #C4C4C4;
    border: 1px solid #000000;
    padding: 0px;
    
}

#red-edging{
    width: 100%;
    height: 69px;
    background: #791212;
}

#about-page-footer{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 1762px;
    background: linear-gradient(180deg, #791212 0%, #000000 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.options{
    position: relative;
    width: 48%;
    height: 74%;
    background: rgba(228, 107, 107, 0.37);
    margin-left: 1%;
    display: inline-block;
    margin-top: 8px;
}

.options-comms{
    position: absolute;
    top: -1000px;
    visibility: hidden;
}

.options-genrs{
    position: absolute;
     top: -1000px;
    visibility: hidden;
}

.options p{
    text-align: center;
    margin-top: 10px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    color: #FFFFFF;
    cursor: pointer;
}

.options-comms p{
    visibility: hidden;
}

.options-genrs p{ 
    visibility: hidden;
}

#chapter{
    width: 80%;
    height: 50px;
    background: #D6D6D6;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 100px;
    padding-top: 18px;
    font-family: 'Readex Pro';
    font-style: normal;
    color:#000000;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    cursor: pointer;
}
#comments{
    visibility: hidden;
    float: right;
    margin-top: 18px;
    margin-right: 40px;
    cursor: pointer;
}
#community{
    visibility: hidden;
    float: right;
    margin-top: 18px;
    margin-right: 40px;
    margin-left: 10px;
    cursor: pointer;
}
#settings{
    visibility: hidden;
    float: right;
    margin-top: 18px;
    margin-right: 40px;
    margin-left: 10px;
    cursor: pointer;
}
#user{
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    cursor: pointer;
}

#barren-flower-girls{
    width: 100%;
    height: 265px;
    background: url(пустоцветCrop.jpg);
    filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}
#barren-flower-img{
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 522px;
    left: 31%;
    top: 430px;
    background: url(пустоцвет2.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#pumpkin-flower-girls{
    width: 100%;
    height: 265px;
    background: url(тыквеннаяночь.jpg);
    filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}
#pumpkin-flower-img{
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 522px;
    left: 31%;
    top: 430px;
    background: url(тыквеннаяночь.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#flower-girls{
    width: 100%;
    height: 265px;
    background: url(о-моем-перерождении.png);
    filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}
#flower-img{
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 522px;
    left: 31%;
    top: 430px;
    background: url(о-моем-перерождении.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#spiral{
    width: 100%;
    height: 265px;
    background: url(спираль.jpg);
    filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}
#spiral-img{
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 522px;
    left: 31%;
    top: 430px;
    background: url(спираль.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}