.img {
    width: 100%;
    position: relative;
    background-color: white;
}

body {
    background-color: #c4c4c4;
    margin: 0;
}

.menu {
    background: linear-gradient(180deg, #791212 39.58%, rgba(6, 0, 0, 0.99) 100%);
    height: 57px;
    width: 100%;
    text-align: right;
    padding-top: 20px;
}

a {
    color: #ffffff;
    font-family: bicubik;
    margin-top: 10px;
    padding-right: 5%;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

#acc {
    position: absolute;
    margin-top: -150px;
    margin-left: 15%;
}

#name {
    font-size: 30px;
    font-family: bicubik;
    margin-left: 40%;
    border-bottom: 2px solid white;
}

#mymanga {
    position: relative;
    width: 66.2%;
    height: 57px;
    left: 17%;
    background: #791212;
    border: 1px solid #000000;
    border-bottom: 5px solid #000000;
    box-sizing: border-box;
    color: white;
    text-align: center;
    padding-top: 18px;
    font-family: 'bicubik';
    margin-top: 95px;
}

#manga {
    position: relative;
    width: 66%;
    height: 450px;
    left: 17%;
    background: #939191;
    border: 1px solid #000000;
    margin-bottom: 35px;
    overflow-x: hidden;
    overflow-y: auto;
}

.footer {
    margin-top: 15px;
    width: 100%;
    position: relative;
    height: 100%;
    margin-bottom: -5px;
}

.inside {
    border-bottom: 1px solid white;
    margin: 1%;
    background-color: #d4d4d4;
    width: 98%;
    height: 210px;
}

#manga::-webkit-scrollbar {
    width: 10px;
}

#manga::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

#manga::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #791212 39.58%, rgba(6, 0, 0, 0.99) 100%);
}

.img-size {
    width: 15%;
    height: 190px;
    margin: 1%;
}

.main-name {
    position: absolute;
    background-color: #939191;
    color: #ffffff;
    font-family: bicubik;
    margin-left: 18%;
    margin-top: -190px;
    width: 80%
}

.opisat {
    position: absolute;
    background-color: #939191;
    color: #ffffff;
    font-family: bicubik;
    margin-left: 18%;
    margin-top: -160px;
    padding: 1%;
    width: 77%
}
@media (min-width:1025px) and (max-width:1440px) {

    #name {
        margin-left: 37%;
        border-bottom: 2px solid white;
    }
    .main-name {
        position: absolute;
        background-color: #939191;
        color: #ffffff;
        font-family: bicubik;
        margin-left: 18%;
        margin-top: -190px;
        width: 80%
    }
}

@media (min-width:768px) and (max-width:1024px) {
    #acc {
        width: 100px;
        height: 100px;
        margin-top: -210px;
        margin-left: 10%;
    }

    #name {
        margin-left: 10%;
        border-bottom: 2px solid white;
        margin-top: 30px;
    }

    .opisat {
        padding-top: 2%;
        height: 140px;
        font-size: 10px;
        margin-top: -130px;
    }

    .img-size {
        height: 140px;
        padding-top: 2%;
        width:17%;
        height: 150px;
    }
    .main-name {
        position: absolute;
        background-color: #939191;
        color: #ffffff;
        font-family: bicubik;
        margin-left: 18%;
        margin-top: -160px;
        width: 80%
    }
}


@media(max-width:767px) {
    #acc {
        width: 75px;
        height: 75px;
        margin-top: -76px;
        margin-left: 10%;
    }

    #name {
        margin-left: 10%;
        border-bottom: 2px solid white;
        font-size: 20px;
    }

    .img {
        margin-top: -150px;
    }

    .img-size {
        height: 160px;
        padding-top: 20%;
        width: 50%;
    }

    .opisat {
        width: 0;
        font-size: 0;
        background-color: #d4d4d4;
        padding-bottom: 5px;
    }

}

