@media (min-width:1025px) and (max-width:1440px){
  
    #name {
        margin-left: 37%;
        border-bottom: 2px solid white;
    }  
}
@media (min-width:768px) and (max-width:1024px) {
    #acc {
        width: 100px;
        height: 100px;
        margin-top: -210px;
        margin-left: 10%;
    }

    #name {
        margin-left: 10%;
        border-bottom: 2px solid white;
    }

    .opisat {
        height: 130px;
        font-size: 13px;
    }

    #img-size {
        height: 140px;
        padding-top: 5%;
    }

}
@media(max-width:768px){
    #acc {
        width: 75px;
        height: 75px;
        margin-top: -76px;
        margin-left: 10%;
    }
    #name {
        margin-left: 10%;
        border-bottom: 2px solid white;
        font-size: 20px;
    }
    .img{
        margin-top: -150px;
    }
    #img-size {
        height: 160px;
        padding-top: 20%;
        width: 50%;
    }
    .opisat{
        width:0;
        font-size: 0;
        background-color: #d4d4d4;
        padding-bottom: 5px;
    }

}