@media(max-width: 2560px) {
    .img{
        width: 100%;
    }
}

@media(max-width: 1560px) {
    .img{
        width:100%;
    }
    form {
        width: 66%;
        margin-left: 17%;
    }
}
nav{
    width: 100%;
}
body{
    background-size: 100%;
    margin: 0;
    background-repeat: repeat-y;
}
.shapka, .shapka2, .shapka3{
font-size: 100%;
}
@media (max-width: 1280px) {
    .img {
        width: 100%;
    }

    form {
        width: 66%;
        margin-left: 17%;
    }
    body{
        background-size: 100%;
        margin: 0;
        background-repeat: repeat-y;
    }
    .pol{
        width:100%;
    }
    .first, .new{
        height: 280px;
    }
    .ganre{
        margin-top: -274px;
        height: 270px;
    }
    .size-of-img{
            margin-top: 15px;
            width: 150px;
            height: 200px;
            margin-left: -5px;
            margin-left: 2%;
    }
}

@media (max-width: 768px) {
    .img {
        width: 100%;
    }

    form {
        width: 66%;
        margin-left: 17%;
    }
    body{
        background-size: 100%;
        margin: 0;
        background-repeat: repeat-y;
    }
    .pol{
        width:100%;
    }
    .shapka, .shapka2, .shapka3{
        font-size: 82.5%;
        }
    .first, .new{
        height: 240px;
    }
    .ganre{
        margin-top: -154px;
        height: 150px;
    }
    .new{
        height: 150px;
    }
    .size-of-img{
        margin-top: 15px;
        width: 130px;
        height: 170px;
        margin-left: -5px;
        margin-left: 2%;
}
}

@media(max-width:560px) {
    .div1{
        font-size: 10px;
    }
    .img {
        width: 100%;
    }

    form {
        width: 66%;
        margin-left: 17%;
    }
    nav{
        margin-left: 0px;
    }
    body{
        background-size: 100%;
        background-repeat: repeat-y;
        margin:0;
    }
    .pol{
        width:100%;
    }
.shapka, .shapka2, .shapka3{
    font-size: 70%;
}
.size-of-img{
    margin-top: 15px;
    width: 100px;
    height: 160px;
    margin-left: -5px;
    margin-left: 2%;
}}