@media(min-width:1441px) and (max-width:2560px){
    .adept{
        margin-top:17px;
        height: 500px;
    }
}
@media (min-width:1025px) and (max-width:1440px){
    .adept
    {
        margin-top: 22px;
        margin-left: 20px;
    }
}
@media (max-width:1024px){
      p {
        font-size: 15px;
        margin-top: -320px;
        padding-bottom: 10px;
        width: 57%;
        margin-left: 41%;
    }
    .title{
        height: 350px;
    }
    .organs{
        font-size: smaller;
        height: 150px;
        margin-left: 41%;
        margin-top: 15px;
    }
    .button{
        width:57%;
        margin-left: 41%;
    }

}

@media (max-width:768px) {
    nav {
        width: 100%;
    }

    .img {
        width: 100%;
    }

    .adept {
        padding-top: 6px;
        padding-left: 7px;
    }

    .organs {
        font-size: 11px;
        margin-left: 41%;
        height: 150px;
        margin-top: -5px;
    }

    .title {
        height: 270px;
        margin-top: 30px;
    }

    .button {
        margin-top: 100px;
        padding-bottom: 15px;
        width: 40%;
        margin-left: 50%;
        margin-top: -20px;
        border: none;
        text-align:left ;
    }

    p {
        font-size: 15px;
        margin-top: -250px;
        padding-bottom: 10px;
        width: 57%;
        margin-left: 41%;
    }

    button {
        width: 18.6%;
        font-size: 7px;
        padding: 0;
    }
}
@media(min-width:320px) and (max-width:426px){
    nav{
        width:90%;
    }
    .adept{
        width: 70%;
        margin-top: 70px;
        margin-left: 15%;
    }
    .organs{
        background:none;
        font-size:0;
    }
    p{
        margin-top: -119%;
        margin-left: 5%;
        width: 90%;
        border: none;
    }
    .title{
        height: 450px;
    }
    button{
    width: 0mm;
    font-size: 0%;
    }
    .button{
        margin-left: 45%;
    }
}
