$var1: #c4c4c4;
$var2: #791212;
$var3: #000000;
$var4: #ffffff;
$var5: #939191;
$width1:2560px;
$width2:1560px;
$width3:1280px;
$width4:768px;
$width5:560px;

body {
	background-color: $var1;
}
#logo {
	position: relative;
	width: 100px;
	height: 100px;
	z-index: 1;
	top: 95px;
	left: 25px;
}
* {
	box-sizing: border-box;
}
form {
	position: relative;
	height: 49px;
	top: 15px;
	border-radius: 0px;
	width: 66%;
}
input, .button {
	margin-top: -5px;
	outline: none;
	background: white;
}
input {
	width: 100%;
	height: 42px;
	padding-left: 15px;
	border: 3px solid $var2;
}
.button {
	border-left: none;
	border-top: 3px solid $var2;
	border-bottom: 3px solid $var2;
	border-right: 3px solid $var2;
	height: 42px;
	width: 42px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	&:before {
		font-family: FontAwesome;
		font-size: 20px;
		color: $var3;
	}
	&-width {
		width: 97%;
	}
}
.butt {
	width: 98%;
}
.img {
	position: relative;
	background-color: white;
}
.div1 {
	display: inline-block;
	width: 190px;
	height: 69%;
	background-color: rgb(204, 204, 204);
	margin-left: 4%;
	margin-top: 2.4%;
	color: $var4;
	font-family: bicubik;
	text-align: center;
	text-shadow: 1px 1px 1px $var4;
}
.size-of-img {
	margin-top: 15px;
	width: 190px;
	height: 260px;
	margin-left: -15px;
}
.news {
	background-color: $var5;
}
.first {
	display: flex;
	position: relative;
	width: 66%;
	height: 370px;
	left: 17%;
	background: $var5;
	border: 1px solid $var3;
	margin-bottom: 35px;
	overflow-x: auto;
	overflow-y: hidden;
}
.shapka {
	position: relative;
	width: 66%;
	height: 57px;
	left: 17%;
	background: $var2;
	border: 1px solid $var3;
	border-bottom: 5px solid $var3;
	box-sizing: border-box;
	color: white;
	text-align: center;
	padding-top: 18px;
	font-family: 'bicubik';
	margin-top: 35px;
	&2 {
		display: inline-block;
		position: relative;
		width: 31%;
		height: 57px;
		left: 17%;
		background: $var2;
		border: 1px solid $var3;
		border-bottom: 5px solid $var3;
		box-sizing: border-box;
		color: white;
		text-align: center;
		padding-top: 18px;
		font-family: 'bicubik';
	}
	&3 {
		position: relative;
		width: 31%;
		height: 57px;
		left: 52%;
		background: $var2;
		border: 1px solid $var3;
		border-bottom: 5px solid $var3;
		box-sizing: border-box;
		color: white;
		text-align: center;
		padding-top: 18px;
		font-family: 'bicubik';
		margin-top: -57px;
	}
}
.footer {
	margin-top: 15px;
	width: 100%;
	position: relative;
	height: 100%;
	margin-bottom: -5px;
}
.pol {
	height: 57px;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
}
.new {
	display: inline-block;
	position: relative;
	width: 31%;
	height: 370px;
	left: 17%;
	background: $var5;
	border: 1px solid $var3;
	overflow-x: hidden;
	overflow-y: auto;
}
.ganre {
	position: relative;
	width: 31%;
	height: 370px;
	left: 52%;
	background: $var5;
	border: 1px solid $var3;
	margin-top: -374px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow-x: hidden;
	overflow-y: auto;
}
button {
	background-color: $var1;
	border: 1px solid white;
	height: 60px;
	margin-top: 11px;
	margin-left: 2.5%;
}
a {
	text-decoration: none;
}
.pereh:visited {
	color: black;
}
.width {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
}

@media(max-width: $width1) {
	.img{width: 100%;}
}
@media(max-width: $width2) {
	.img{width: 100%;}

form {
	width: 66%;
	margin-left: 17%;
}
nav {
	width: 100%;
}
body {
	background-size: 100%;
	margin: 0;
	background-repeat: repeat-y;
}
.shapka, .shapka2, .shapka3 {
	font-size: 100%;
}}
@media (max-width: $width3) {
	.img{width: 100%;}

form {
	width: 66%;
	margin-left: 17%;
}
body {
	background-size: 100%;
	margin: 0;
	background-repeat: repeat-y;
}
.pol {
	width: 100%;
}
.first, .new {
	height: 280px;
}
.ganre {
	margin-top: -274px;
	height: 270px;
}
.size-of-img {
	margin-top: 15px;
	width: 150px;
	height: 200px;
	margin-left: -5px;
	margin-left: 2%;
}}
@media (max-width: $width4) {
	.img{width: 100%;}
form {
	width: 66%;
	margin-left: 17%;
}
body {
	background-size: 100%;
	margin: 0;
	background-repeat: repeat-y;
}
.pol {
	width: 100%;
}
.shapka, .shapka2, .shapka3 {
	font-size: 82.5%;
}
.first, .new {
	height: 240px;
}
.ganre {
	margin-top: -154px;
	height: 150px;
}
.new {
	height: 150px;
}
.size-of-img {
	margin-top: 15px;
	width: 130px;
	height: 170px;
	margin-left: -5px;
	margin-left: 2%;
}}
@media(max-width: $width5) {
	.div1{
	font-size: 10px;}
.img {
	width: 100%;
}
form {
	width: 66%;
	margin-left: 17%;
}
nav {
	margin-left: 0px;
}
body {
	background-size: 100%;
	background-repeat: repeat-y;
	margin: 0;
}
.pol {
	width: 100%;
}
.shapka, .shapka2, .shapka3 {
	font-size: 70%;
}
.size-of-img {
	margin-top: 15px;
	width: 100px;
	height: 160px;
	margin-left: -5px;
	margin-left: 2%;
}}

