@media(max-width:1024px){
    .div{
        height: 390px;
    }
}
@media(max-width:768px){
    #name{
        font-size: 20px;
        padding:1%;
    }
    #news{
        font-size: 25px;
    }
}
@media(max-width:560px){
     #news, #name, #date, div p{
        font-size: 15px;
        margin-top: 10px;
    }
    .div{
        height: 300px;
    }
    nav{
       width: 90%;
    }
}