.desig {
    background: linear-gradient(180deg, #791212 39.58%, rgba(6, 0, 0, 0.99) 100%);
    width: 100%;
    height: 45px;
    color: white;
    padding-top: 21px;
}

.desig2 {
    background: linear-gradient(180deg, #000000 0%, #791212 76.56%);
    width: 100%;
    height: 60px;
    color: white;
}

#vshapke {
    width: 100%;
}

#p {
    margin: 0;
    padding-top: 21px;
    padding-left: 60%;
}
@media (min-width:1440px) {
.opisanie {
    width: 40%;
    height: 320px;
    background-color: #d4d4d4;
    margin-left: 42%;
    margin-top: 40px;
    margin-bottom: 100px;
    font-size: 21px;
    padding: 2.2%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}
}
#read {
    position: absolute;
    margin-left: 16%;
    width: 18%;
    height: 49px;
    margin-top: -150px;
    background: linear-gradient(180deg, #791212 0%, #000000 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    color: white;
    font-size: 20px;
}

.second {
    background-color: #791212;
    width: 71%;
    margin-left: 15%;
    padding-left: 1%;
    height: 57px;
    border: 1px solid black;
    border-bottom: 3px solid black;
}

.third {
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 72.1%;
    height: 365px;
    margin-left: 15%;
    margin-bottom: 100px;

}

button {
    margin-top: 6px;
    height: 45px;
    width: 23.5%;
    margin-right: 1%;
    background: rgba(228, 107, 107, 0.37);
    border: none;
}

footer {
    width: 100%;
}

.footer {
    width: 100%;
    margin-bottom: -5px;
}
.parts{
    background-color: #d4d4d4;
    width: 68%;
    margin:2px;
}
#i{
    padding: 5%;
}
a{
    text-decoration: none;
    padding-top: 15px;
}
a:visited{
    color:white;
    text-decoration: none;
}
@media (max-width: 768px){
    
   .opisanie{
        font-size: 10px;
        width: 40%;
        height: 130px;
        background-color: #d4d4d4;
        margin-left: 42%;
        margin-top: 70px;
        margin-bottom: 100px;
        padding: 2%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 19px;
    }

}